@media (min-width: 768px) {
    form,nav,#tabs-rastreamento,#breadcrumb {
        width: 768px;
        margin: auto;
    }

}
button.pesquisar, a.button.pesquisar {
    border-radius: 50%;
    padding: 0;
    background-image: url("../images/search-solid.svg");

}

.cod-objeto{
    color: #1874CD;
    font-weight: bold;
}